@import "fonts";
$font_family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
$font_family_li: 'ProximaNova-Light', Arial, Helvetica, sans-serif;
$font_family_it: 'ProximaNova-RegularIt', Arial, Helvetica, sans-serif;
$font_family_2: 'GothamProRegular', Arial, Helvetica, sans-serif;
$font_family_bold_2: 'GothamProMedium', Arial, Helvetica, sans-serif;
$font_family_bold_it_2: 'GothamPro-MediumItalic', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #333333;
$color_gray_2: #d1d2de;
$color_gray_3: #f3f6f8;
$color_green_1: #78c214;
$color_red_1: #f90059;
$color_yellow_1: #ffdd2b;
$color_blue_1: #155afd;
$color_blue_2: #23d0fc;

$color_title: #00074a;
$color_text: #515582;
$color_text_distribution: #6d89ca;
$color_text_info: #a8aac0;
$color_link: #6a88a7;
$color_info: #575ea6;
$color_placeholder: #cbccd5;

$border_color_1:#d7d7d7;

$bg-body_top:#131a74;
$bg-body:#000749;
$bg-dark:rgba(0,0,0,0.2);

body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: normal;
  background-color: $color_white;
  min-height: 400px;
  min-width: 320px;
  color: $color_text;
}
html,body{
  width: 100%;
  height: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
i,.italic{
  font-family: $font_family_it;
}
.light{
  font-family: $font_family_li;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_link;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1{
  font-size: 35px;
  margin-bottom: 20px;
}
h2, .h2{
  font-size: 24px;
}
h3, .h3{
  font-size: 18px;
}
h4, .h4{
  font-size: 16px;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background:none;
  cursor: pointer;
  @include web_transition(all 0.2s ease-in-out);
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.padding-block{
  padding: 0 30px;
}
.row-half{
  width:50%;
  float: left;
}
.row-double-three{
  width: 66.666666%;
  float: left;
}
.row-three{
  width: 33.333333%;
  float: left;
}
.box-right{
  float: right;
}
.box-left{
  float: left;
}
.clearfix:after{
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.box-table{
  width: 100%;
  display: table;
}
.vertical-middle {
  height: 100%;
  display: table;
  width: 100%;
}
.content-vertical,
.item-cell{
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.box-tab{
  display: none;
}
.box-tab.active{
  display: block;
}
.flexible{
  display: flex;
  display: -ms-flexbox;
  align-items: stretch;
  -ms-flex-align: stretch;
  &.center{
    align-items: center;
    -ms-flex-align: center;
  }
  .free{
    flex: 2 0;
    -webkit-flex: 2 0;
  }
}
.between{
  flex-wrap: wrap;
  justify-content: space-between;
}
/*colors*/
.grey{
  color: $color_gray_1;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
}
.blue{
  color: $color_blue_1;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}
.bg-blue{
  background:$bg-body_top;
  background: -moz-linear-gradient(top, $bg-body_top 0%, $bg-body 100%);
  background: -webkit-linear-gradient(top, $bg-body_top 0%,$bg-body 100%);
  background: linear-gradient(to bottom, $bg-body_top 0%,$bg-body 100%);
}
.bg-lite-blue{
  background:$color_blue_1;
  background: -moz-linear-gradient(left, $color_blue_1 0%, $color_blue_2 100%);
  background: -webkit-linear-gradient(left,  $color_blue_1 0%,$color_blue_2 100%);
  background: linear-gradient(to right, $color_blue_1 0%,$color_blue_2 100%);
}

/*CONTENT*/
.wrapper{
  width: 100%;
  background: url("../images/bg1.svg") no-repeat center top;
  position: relative;
  padding-top: 85px;
  overflow: hidden;
}
.name-block{
  font-size: 35px;
  color: $color_title;
  line-height: 1.2;
  margin-bottom: 20px;
  &.white{
    color: $color_white;
  }
  &.border{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 30px;
    &:after{
      top:100%;
      width: 65px;
      height: 3px;
      left:0;
      background: $color_blue_1;
      position: absolute;
      content: '';
    }
  }
}
.name-box{
  font-size:20px;
}
.block-text{
  font-size: 16px;
  font-family: $font_family_2;
  line-height: 1.5;
  p{
    &:not(:last-child){
      margin-bottom: 1.5em;
    }
  }
  b,.bold{
    font-family: $font_family_bold_2;
    font-weight: normal;
  }
  ul{
    li{
      margin-bottom: 1em;
    }
  }
  .point{
    li{
      position: relative;
      padding-left: 15px;
      &:after{
        position:absolute;
        top:7px;
        left:0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $color_red_1;
        content: '';
      }
    }
    &-blue{
      li{
        &:after{
          background: $color_blue_1;
        }
      }
    }
  }
  &.small{
    font-size: 14px;
    li{
      margin-bottom: 0.3em;
    }
  }
}