.btn{
  font-size: 16px;
  text-align: center;
  padding:13px 20px;
  line-height: normal;
  border-radius: 25px;
  position: relative;
  border:2px solid;
  color: #ffffff;
  >.middle{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    line-height: 0.8em;
  }
  &-sm{
    font-size: 12px;
  }
  &-lg{
    font-size: 16px;
    padding:18px 25px;
    border-radius: 30px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-blue{
    background: $color_blue_1;
    border-color: $color_blue_1;
    &:hover{
      background: #0d4bdd;
      border-color: #0d4bdd;
    }
  }
  &-red{
    background: $color_red_1;
    border-color: $color_red_1;
    @include box-shadow(0 5px 27px rgba(129, 0, 46, 0.44));
    &:hover{
      background: #de004e;
      border-color: #de004e;
    }
  }
  &-border-blue{
    border-color: $color_blue_1;
    &:hover{
      border-color: #0d4bdd;
    }
  }
  &-review{
    background:$bg-dark;
    border-color: transparent;
    .box-icon{
      margin: -10px -17px -10px 15px;
      display: inline-block;
      vertical-align: top;
    }
  }
  &-menu{
    border: 0;
    padding: 18px;
    line-height: 2px;
    text-align: right;
    width: 54px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_white;
      width: 18px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
      &:nth-child(2){
        width: 14px;
      }
      &:nth-child(3){
        width: 16px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-blue{
    color: $color_blue_1;
    font-size: 16px;
  }
}