.nav{
  &-main{
    font-size: 14px;
  }
  &-link-more{
    li{
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
      padding-left: 35px;
      background: url("../images/doc.svg") no-repeat center left;
      margin-left:60px;
      a{
        display: block;
        color: $color_white;
        border-bottom: 1px dashed $color_blue_1;
        font-size: 16px;
        &:hover{
          border-bottom-color: transparent;
        }
      }
    }
  }
  &-tabs{
    text-align: center;
    margin: 50px 0;
    li{
      display: inline-block;
      vertical-align: top;
      &+li{
        margin-left: 10px;
      }
      a{
        display: block;
        line-height: 53px;
        border-color: $color_gray_2;
        font-size: 16px;
        font-family: $font_family_2;
        color: $color_text;
        padding: 12px 35px;
        min-width: 225px;
        border-radius: 40px;
        position: relative;
        .icon{
          margin-right: 20px;
        }
        &:hover{
          border-color: #0d4bdd;
        }
      }
      &.active{
        a{
          background: $color_blue_1;
          border-color: $color_blue_1;
          color: $color_white;
          cursor: default;
          &:hover{
            border-color: $color_blue_1;
          }
        }
      }
    }
  }
}