@media(max-width: 1400px) {
  .section{
    &-intro{
      min-height: 858px;
      .intro{
        &-map{
          margin-bottom: -38%;
        }
      }
    }
  }
}

@media(max-width: 1320px) {
  header{
    .lang{
      position: relative;
      padding-top: 0;
    }
  }
  .slick-next, .slick-prev{
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .slick-next{
    right: -10px;
  }
  .slick-prev{
    left: -10px;
  }
}
@media(max-width: 1200px) {
  header{
    .social{
      .link{
        margin: 0;
      }
    }
  }
  .padding-block{
    padding-left: 15px;
    padding-right: 15px;
  }
  .section{
    &-text{
      padding-left: 15px;
      padding-right: 15px;
    }
    &-intro{
      position: relative;
      .form-subs{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -240px;
        z-index: 2;
      }
      .cash,.timer{
        padding-top: 260px;
      }
      .intro-down{
        margin-top: 130px;
      }
      .intro-map{
        margin-bottom: -61%;
      }
    }
    &-about{
      .about{
        &-more{
          margin-left: 15px;
          margin-right: 15px;
          .name-box{
            white-space: nowrap;
          }
        }
      }
    }
    &-benefit{
      .benefit{
        &-tabs{
          .tab-content{
            padding: 40px;
            min-height: 420px;
          }
        }
        &-item{
          +&.benefit-item{
            margin-top: 50px;
          }
        }
      }

    }
    &-commands .block-commands .block-accordion .box-accordion-body .item-accordion{
      width: 24%;
    }
    &-start{
      margin-top: 100px;
      &:before{
        top:-640px;
      }
    }
  }
  .nav-link-more li{
    margin-left: 30px;
  }
  .nav-tabs li a{
    padding-left: 25px;
    padding-right: 25px;
    min-width: 190px;
  }
}
@media(max-width: 1080px) {
  .section{
    &-intro{
      .intro-down{
        margin-top: 120px;
        .cash, .timer{
         padding-top: 280px;
        }
      }
    }
    &-about{
      .about{
        &-quote{
          .quote{
            font-size: 28px;
          }
        }
        &-ceo{
          .name{
            right: 42%;
            bottom: -40px;
          }
        }
      }
    }
    &-data{
      .data{
        &-item{
          width: 275px;
          .box-icon{
            @include box_shadow(0 7px 37px rgba(23, 106, 253, 0.4));
          }
        }
        &-cloud{
          .data-item{
            &:nth-child(1) {
              right: 70%;
              top: -10%;
            }
            &:nth-child(2) {
              right: 75%;
              bottom: -10%;
            }
            &:nth-child(3) {
              left: 80%;
              top:80%;
              .box-icon{
                @include  web_transform(rotate(-7deg));
                .icon{@include  web_transform(rotate(7deg));}
              }
            }
          }
        }
      }
    }
    &-roadmap{
      .box-roadmap .box-item-roadmap .box-head{
        display: block;
        .box-number{
          font-size: 16px;
          width: 36px;
          height: 36px;
          line-height: 36px;
          margin-top: -8px;
          margin-bottom: 8px;
          display: inline-block;
          vertical-align: top;
        }
        .box-name{
          clear: both;
          font-size: 14px;
          line-height: 1.25;
          padding: 0;
        }
      }

    }
  }

}
@media(min-width: 921px) {
  header{
    .navbar{
      &-collapse{
        display: block!important;
      }
    }
  }
}
@media(max-width: 920px) {
  header {
    .social{
      .nav-link-more li {
        width: 55%;
        line-height: 35px;
        margin-left: 0;
        padding-left: 0;
      }
    }
    .social-icon {
      position: relative;
      right: inherit;
      top: inherit;
      .link {
        display: inline-block;
        margin: 5px 10px;
      }
    }
  }
    header{
      padding-top: 3px;
      padding-bottom: 3px;
      .navbar{
        &-mobile{
          display: block;
        }
        &-collapse{
          position: fixed;
          z-index: 9;
          top:57px;
          background: rgba(0, 7, 73, 0.9);
          width: 100%;
          height: 1000px;
          text-align: center;
          display: none;
          .flexible{
            display: block;
            >div{
              margin-top: 30px;
            }
          }
          .logo{
            display: none;
          }
        }
      }
    }
  .wrapper{
    padding-top: 57px;
  }
  .section {
    &-intro {
      .intro-map {
        margin-bottom: -69%;
        margin-top: -26%;
      }
      .intro-down{
        margin-top: 0;
      }
    }
  }
}