footer{
  padding: 55px 0;
  line-height: 20px;
  .logo{
    margin-top: -10px;
  }
  .copy{
    font-family:$font_family_2;
    color: $color_text;
    .link{
      color: inherit;
      margin-left: 30px;
      font-size: 16px;
    }
  }
}