header{
  position: fixed;
  top:0;
  left:0;
  line-height: 50px;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid $bg-dark;
  z-index: 10;
  background: transparent;
  @include web_transition(all 0.2s ease-in-out);
  &.scroll{
    background: $bg-body;
  }
  .header-content{
    position: relative;
    width: 100%;
  }
  .logo{
    img{
      vertical-align: middle;
    }
  }
  .user{
    .btn{
      min-width: 135px;
      &+.btn{
        margin-left: 5px;
      }
    }
  }
  .social{
    line-height: 30px;
    .link{
      padding: 4px;
      line-height: 22px;
      margin: 0 15px;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .lang{
    position: absolute;
    right: 0;
    top:0;
    color: $color_link;
    font-size: 16px;
    .link{
      &.active{
        color: $color_white;
      }
    }
  }
  .navbar{
    &-mobile{
      display: none;
      .btn-menu{
        margin-right: -18px;
      }
    }
  }
.social-icon{
  position: fixed;
  right: 0;
  top: 100px;
  .link{
    display: block;
    margin: 0 10px;
  }
}
}