{% include "en/_header.html" %}

{% include "en/sections/_modal.html" %}

{% include "en/sections/_intro.html" %}
{% include "en/sections/_about.html" %}
{% include "en/sections/_data.html" %}
{% include "en/sections/_benefit.html" %}
{% include "en/sections/_lead.html" %}
{% include "en/sections/_player.html" %}
{% include "en/sections/_stage-web.html" %}
{% include "en/sections/_distribution.html" %}
{% include "en/sections/_roadmap.html" %}
{% include "en/sections/_commands.html" %}
{% include "en/sections/_activity.html" %}
{% include "en/sections/_question.html" %}
{% include "en/sections/_start.html" %}

{% include "en/_footer.html" %}