{% include "_header.html" %}
{% include "sections/_intro.html" %}
{% include "sections/_about.html" %}
{% include "sections/_data.html" %}
{% include "sections/_benefit.html" %}
{% include "sections/_lead.html" %}
{% include "sections/_player.html" %}
<!-------------voropaev------------>
{% include "sections/_stage-web.html" %}
{% include "sections/_distribution.html" %}
{% include "sections/_roadmap.html" %}
{% include "sections/_commands.html" %}
{% include "sections/_modal.html" %}
<!-------------/voropaev------------>
{% include "sections/_activity.html" %}
{% include "sections/_question.html" %}
{% include "sections/_start.html" %}

{% include "_footer.html" %}